@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #root {
  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

body {
  background-color: #ffffff;
  color: #0f172a;
}

.dark body {
  background-color: #0f172a;
  color: #f8fafc;
}
